*{
    margin: 0;
    padding: 0;
}
[class^="NO"]{
    width: 70px;
    height: 70px;
    position:absolute;
    border-radius: 20px;
}
.con{
    width: 300px;
    height: 300px;
    position:absolute;
    margin-top: -150px;
    margin-left: -150px;
    left: 50%;
    top: 50%;
}
.NO1{
    background-color: #bcffb4;
    border: 15px solid #2d8eff;
    box-shadow:-5px -3px 5px 3px #FF9A18;
    /*left:100px;*/
    margin-left: 100px;
    z-index: 1;
}
.NO2{
    background-color: #9fccff;
    border: 15px solid #22ff54;
    box-shadow:-5px -3px 5px 3px #FF9A18;
    /*bottom: 100px;*/
    margin-top: 100px;
    z-index: 1;
}
.NO3{
    background-color: #d2ff4d;
    border: 15px solid #ffc52f;
    margin-top: 100px;
    margin-left: 100px;
    /*left: 100px;*/
    /*bottom: 100px;*/
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    z-index: 5;
}
.NO4{
    background-color: #fff065;
    border: 15px solid #ff99fb;
    box-shadow:-5px -3px 5px 3px #FF9A18;
    margin-top: 100px;
    margin-left: 200px;
    /*left: 200px;*/
    /*bottom: 100px;*/
    z-index: 1;
}
.NO5{
    background-color: aqua;
    border: 15px solid #ff117b;
    box-shadow:-5px -3px 5px 3px #FF9A18;
    margin-top: 200px;
    margin-left: 100px;
    /*left: 100px;*/
    /*bottom: 0px;*/
    z-index: 1;
}
img{
    width:24px;
}